a
{
	color: #4169e1;
	cursor: pointer;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
}
a:hover
{
	color: #1b1b1b;
}
body
{
	background: url('images/fon.jpg');
	background-attachment:fixed;
	margin: 0px auto 0px;
}
h1, h2, h3, h4, h5, h6
{
	color: #505050;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
}
h2.post_ttl
{
	background: #4794ff;
	background: linear-gradient(to bottom, #4794ff 0%,#a8d8ff 100%);
	background: -moz-linear-gradient(top, #4794ff 0%, #a8d8ff 100%);
	background: -ms-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -o-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4794ff), color-stop(100%,#a8d8ff));
	background: -webkit-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	border-radius: 8px;
	color: #464451;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4794ff', endColorstr='#a8d8ff',GradientType=0 );
	font-family: Comic Cans;
	font-size: 18px;
	font-size: 28px;
	height: 30px;
	margin-top: 0px;
	padding: 5px;
	text-align: center;
}
.gradient
{
	background: #4794ff;
	background: linear-gradient(to bottom, #4794ff 0%,#a8d8ff 100%);
	background: -moz-linear-gradient(top, #4794ff 0%, #a8d8ff 100%);
	background: -ms-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -o-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4794ff), color-stop(100%,#a8d8ff));
	background: -webkit-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	border-radius: 0px 0px 8px 8px;
	color: #464451;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4794ff', endColorstr='#a8d8ff',GradientType=0 );
	font-size: 26px;
	font-weight: bold;
	height: 30px;
	margin-top: 0px;
	padding: 10px;
}
#img_border
{
	border: 8px solid #c0c0c0;
}
#page_wrap
{
	margin: 0px auto 0px;
	width: 1024px;
}
#page
{
	float: left;
	margin-top: 20px;
	width: 100%;
}
#content
{
	background: url('images/fon3.jpg');
	background-size: cover;
	border-radius: 8px;
	float: right;
	margin-bottom: 50px;
	width: 100%;
}
#footer
{
	background: url('images/fon3.jpg');
	border-radius: 8px;
	color: #000000;
	float: left;
	height: 150px;
	margin-top: 20px;
	width: 100%;
}
#footer p
{
	margin-bottom: 1em;
	margin-left: 2em;
	text-align: left;
}
#footer a
{
	color: #000000;
}
#footer a:hover
{
	color: #4169e1;
}
#catalog
{
	float: left;
	margin: 25px 40px;
	text-align: center;
	width: 95%;
}
#product
{
	background: #4794ff;
	background: linear-gradient(to bottom, #4794ff 0%,#a8d8ff 100%);
	background: -moz-linear-gradient(top, #4794ff 0%, #a8d8ff 100%);
	background: -ms-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -o-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4794ff), color-stop(100%,#a8d8ff));
	background: -webkit-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	border-radius: 8px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4794ff', endColorstr='#a8d8ff',GradientType=0 );
	float: left;
	margin: 25px;
	width: 27%;
}
#product p
{
	font-weight: bold;
}
#product img
{
	border: 2px solid #c0c0c0;
	border-radius: 8px;
	height: 200px;
	margin: 25px 28px;
	width: 200px;
}
#addprod
{
	background: #4794ff;
	background: linear-gradient(to bottom, #4794ff 0%,#a8d8ff 100%);
	background: -moz-linear-gradient(top, #4794ff 0%, #a8d8ff 100%);
	background: -ms-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -o-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4794ff), color-stop(100%,#a8d8ff));
	background: -webkit-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	border-radius: 8px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4794ff', endColorstr='#a8d8ff',GradientType=0 );
	float: left;
	margin: 25px;
	width: 90%;
}
#basket
{
	background: #4794ff;
	background: linear-gradient(to bottom, #4794ff 0%,#a8d8ff 100%);
	background: -moz-linear-gradient(top, #4794ff 0%, #a8d8ff 100%);
	background: -ms-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -o-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4794ff), color-stop(100%,#a8d8ff));
	background: -webkit-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	border-radius: 8px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4794ff', endColorstr='#a8d8ff',GradientType=0 );
	float: left;
	margin: 25px;
	width: 95%;
}
#basket table
{
	border: 2px solid #5993C5;
	border-collapse: collapse;
	width: 100%;
}
#basket th
{
	background: #e6e6fa;
	border: 2px solid #5993C5;
	padding: 3px;
	text-align: center;
}
#basket td
{
	background: #F0F6F6;
	border: 2px solid #5993C5;
	padding: 3px;
	text-align: center;
}
#basket_del
{
	text-align: center;
	width: 100px;
}
#basket_article
{
	text-align: center;
	width: 100px;
}
#basket_item_name
{
	text-align: center;
	width: 300px;
}
#basket_price
{
	text-align: center;
	width: 100px;
}
#basket_sum
{
	text-align: center;
	width: 100px;
}
#basket_quantity
{
	text-align: center;
	width: 150px;
}
#description p
{
	margin: 20px;
	text-align: justify;
}
#reg
{
	background: #4794ff;
	background: linear-gradient(to bottom, #4794ff 0%,#a8d8ff 100%);
	background: -moz-linear-gradient(top, #4794ff 0%, #a8d8ff 100%);
	background: -ms-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -o-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4794ff), color-stop(100%,#a8d8ff));
	background: -webkit-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4794ff', endColorstr='#a8d8ff',GradientType=0 );
	font-family: Georgia;
	font-size: 100%;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 1024px;
}
#daynews
{
	background: #4794ff;
	background: linear-gradient(to bottom, #4794ff 0%,#a8d8ff 100%);
	background: -moz-linear-gradient(top, #4794ff 0%, #a8d8ff 100%);
	background: -ms-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -o-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4794ff), color-stop(100%,#a8d8ff));
	background: -webkit-linear-gradient(top, #4794ff 0%,#a8d8ff 100%);
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4794ff', endColorstr='#a8d8ff',GradientType=0 );
	font-family: Georgia;
	font-size: 18px;
	font-weight: bold;
	height: 35px;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	text-align: center;
	width: 1024px;
}
#banner
{
	height: 100px;
	margin: 0px auto;
	padding: 0;
	width: 450px;
}
#menu
{
	font-family: Comic Cans;
	font-size: 24px;
	height: 35px;
	margin: -5;
	padding: 5;
	width: 1024px;
}
#menu li
{
	background: url('images/menu.png');
	float: left;
	list-style: none;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 204.8px;
}
#menu li:hover
{
	background: url('images/menu2.png');
}
#menu li a
{
	color: #fff;
	display: block;
	font-family: Comic Cans;
	font-size: 24px;
	height: 35px;
	text-decoration: none;
	width: 204.8px;
}
br.both
{
	clear: both;
}
#backgroundPopup
{
	_position: absolute;
	background: #000000;
	border: 1px solid #cecece;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
#popupContact
{
	_position: absolute;
	background: #FFFFFF;
	border: 2px solid #cecece;
	border-radius: 8px;
	display: none;
	font-size: 18px;
	height: 250px;
	padding: 12px;
	position: fixed;
	top: 100px;
	width: 200px;
	z-index: 2;
}
#popupContactClose
{
	color: #6fa5fd;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	position: absolute;
	right: 6px;
	top: 4px;
}
#button
{
	margin: 20px;
	text-align: center;
}
#reg
{
	color: #fff;
	font-weight: bold;
}
#reg a
{
	color: #fff;
	cursor: pointer;
}
#reg input
{
	margin: 1%;
}
#popupContact input
{
	margin: 2% auto;
}
